# poblacion de lince iberico, repartido por localidades en España

In [1]:
import pandas as pd
from selenium import webdriver
import time
import warnings
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
url= 'https://lifelynxconnect.eu/censos/'

In [3]:
PATH = 'driver/ChromeDriver.exe'

driver = webdriver.Chrome()  

driver.get(url)
driver

In [4]:
driver.find_element(By.CSS_SELECTOR, '#cn-accept-cookie').click()

In [5]:
tabla = driver.find_element(By.XPATH, '//*[@id="table_1_wrapper"]')

tabla

In [6]:
cuerpo = tabla.find_element(By.TAG_NAME, 'tbody')
filas = cuerpo.find_elements(By.TAG_NAME, 'tr')

In [7]:
matriz = []


for f in filas:
    
    tmp = []
    
    elems = f.find_elements(By.TAG_NAME, 'td')  # esto es una lista
    
    for e in elems:
        
        tmp.append(e.text)
        
    matriz.append(tmp)

In [8]:
cabecera = tabla.find_element(By.TAG_NAME, 'thead')
columnas=[e.text for e in cabecera.find_elements(By.TAG_NAME, 'th')]
columnas

['Subpoblación',
 'Región',
 'Hembras reproductoras',
 'Cachorros',
 'Total ejemplares',
 'Superficie']

In [9]:
df = pd.DataFrame(matriz, columns=columnas)
df

,Subpoblación,Región,Hembras reproductoras,Cachorros,Total ejemplares,Superficie
0,Vale do Guadiana,Portugal,49,86,261,636
1,Doñana-Aljarafe,Andalucí­a,25,27,108,549
2,Andújar-Cardeña,Andalucí­a,53,78,268,535
3,Guadalmellato,Andalucí­a,14,6,40,239
4,Guarrizas,Andalucí­a,29,61,167,365
5,Sierra Arana,Andalucí­a,0,1*,5,46
6,Setefilla,Andalucí­a,1,4,9,24
7,Las Minas,Andalucí­a,3,10,17,39
8,Guazurejos,Andalucí­a,0,0,1,7
9,Pegalajar,Andalucí­a,1,2,6,24
10,Alcaudete,Andalucí­a,0,0,2,1
11,Matachel,Extremadura,30,50,138,138
12,Ortiga,Extremadura,3,2,23,79
13,Valdecigüeñas,Extremadura,1,0,8,14
14,Río Sotillo,Extremadura/Andalucí­a,0,0,3,21
15,Ibores,Extremadura,1,4,9,21
16,Cornalvo,Extremadura,0,0,3,21
17,Campo de Montiel,Castilla-La Mancha,37,65,203,1.233
18,Montes de Toledo,Castilla-La Mancha,53,107,272,1.068
19,Guadalmez,Castilla-La Mancha/Andalucí­a,23,51,104,117
20,Valdecañas,Extremadura,2,5,14,
21,Monfragüe,Extremadura,0,0,1,
22,Albacete,Castilla-La Mancha,1,4,6,
23,Península ibérica,España y Portugal,326,562,1.668,

### una vez tengo el dataframe que lo he sacado de la url con el metodo de selenium, me dispongo a limpiar la tabla como yo la quiero

##### 1. Voy a eliminar la columna de superficie y las filas de portugual y peninsula iberica. Ya que el trabajo va sobre españa y la fila de penisnula iberica me da el total que ya lo tengo distribuido por localidades

In [10]:
df = df.drop('Superficie', axis=1)

In [11]:
df

,Subpoblación,Región,Hembras reproductoras,Cachorros,Total ejemplares
0,Vale do Guadiana,Portugal,49,86,261
1,Doñana-Aljarafe,Andalucí­a,25,27,108
2,Andújar-Cardeña,Andalucí­a,53,78,268
3,Guadalmellato,Andalucí­a,14,6,40
4,Guarrizas,Andalucí­a,29,61,167
5,Sierra Arana,Andalucí­a,0,1*,5
6,Setefilla,Andalucí­a,1,4,9
7,Las Minas,Andalucí­a,3,10,17
8,Guazurejos,Andalucí­a,0,0,1
9,Pegalajar,Andalucí­a,1,2,6
10,Alcaudete,Andalucí­a,0,0,2
11,Matachel,Extremadura,30,50,138
12,Ortiga,Extremadura,3,2,23
13,Valdecigüeñas,Extremadura,1,0,8
14,Río Sotillo,Extremadura/Andalucí­a,0,0,3
15,Ibores,Extremadura,1,4,9
16,Cornalvo,Extremadura,0,0,3
17,Campo de Montiel,Castilla-La Mancha,37,65,203
18,Montes de Toledo,Castilla-La Mancha,53,107,272
19,Guadalmez,Castilla-La Mancha/Andalucí­a,23,51,104
20,Valdecañas,Extremadura,2,5,14
21,Monfragüe,Extremadura,0,0,1
22,Albacete,Castilla-La Mancha,1,4,6
23,Península ibérica,España y Portugal,326,562,1.668

In [12]:
indices_a_eliminar = [0, 23]
df = df.drop(indices_a_eliminar)

In [13]:
df

,Subpoblación,Región,Hembras reproductoras,Cachorros,Total ejemplares
1,Doñana-Aljarafe,Andalucí­a,25,27,108
2,Andújar-Cardeña,Andalucí­a,53,78,268
3,Guadalmellato,Andalucí­a,14,6,40
4,Guarrizas,Andalucí­a,29,61,167
5,Sierra Arana,Andalucí­a,0,1*,5
6,Setefilla,Andalucí­a,1,4,9
7,Las Minas,Andalucí­a,3,10,17
8,Guazurejos,Andalucí­a,0,0,1
9,Pegalajar,Andalucí­a,1,2,6
10,Alcaudete,Andalucí­a,0,0,2
11,Matachel,Extremadura,30,50,138
12,Ortiga,Extremadura,3,2,23
13,Valdecigüeñas,Extremadura,1,0,8
14,Río Sotillo,Extremadura/Andalucí­a,0,0,3
15,Ibores,Extremadura,1,4,9
16,Cornalvo,Extremadura,0,0,3
17,Campo de Montiel,Castilla-La Mancha,37,65,203
18,Montes de Toledo,Castilla-La Mancha,53,107,272
19,Guadalmez,Castilla-La Mancha/Andalucí­a,23,51,104
20,Valdecañas,Extremadura,2,5,14
21,Monfragüe,Extremadura,0,0,1
22,Albacete,Castilla-La Mancha,1,4,6

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 1 to 22
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Subpoblación           22 non-null     object
 1   Región                 22 non-null     object
 2   Hembras reproductoras  22 non-null     object
 3   Cachorros              22 non-null     object
 4   Total ejemplares       22 non-null     object
dtypes: object(5)
memory usage: 1012.0+ bytes

##### 2. Quiero saber cuantos machos y hembras no reproductoras hay por lo que hago una funcion para sumar las columnas de cachorros y hembras y restarselo al total. Para llegar a esto tambien tengo que convertir a numerico los valores de las columnas

In [15]:
fila = 5
columna = 'Cachorros'

df.at[fila, columna] = '1'

In [16]:
df['Hembras reproductoras'] = pd.to_numeric(df['Hembras reproductoras'], errors='coerce')
df['Cachorros'] = pd.to_numeric(df['Cachorros'], errors='coerce')
df['Total ejemplares'] = pd.to_numeric(df['Total ejemplares'], errors='coerce')

In [17]:
df['machos/hembaras_no_repro'] =df['Total ejemplares'] - (df['Hembras reproductoras'] + df['Cachorros'] )

In [18]:
df

,Subpoblación,Región,Hembras reproductoras,Cachorros,Total ejemplares,machos/hembaras_no_repro
1,Doñana-Aljarafe,Andalucí­a,25,27,108,56
2,Andújar-Cardeña,Andalucí­a,53,78,268,137
3,Guadalmellato,Andalucí­a,14,6,40,20
4,Guarrizas,Andalucí­a,29,61,167,77
5,Sierra Arana,Andalucí­a,0,1,5,4
6,Setefilla,Andalucí­a,1,4,9,4
7,Las Minas,Andalucí­a,3,10,17,4
8,Guazurejos,Andalucí­a,0,0,1,1
9,Pegalajar,Andalucí­a,1,2,6,3
10,Alcaudete,Andalucí­a,0,0,2,2
11,Matachel,Extremadura,30,50,138,58
12,Ortiga,Extremadura,3,2,23,18
13,Valdecigüeñas,Extremadura,1,0,8,7
14,Río Sotillo,Extremadura/Andalucí­a,0,0,3,3
15,Ibores,Extremadura,1,4,9,4
16,Cornalvo,Extremadura,0,0,3,3
17,Campo de Montiel,Castilla-La Mancha,37,65,203,101
18,Montes de Toledo,Castilla-La Mancha,53,107,272,112
19,Guadalmez,Castilla-La Mancha/Andalucí­a,23,51,104,30
20,Valdecañas,Extremadura,2,5,14,7
21,Monfragüe,Extremadura,0,0,1,1
22,Albacete,Castilla-La Mancha,1,4,6,1

In [19]:
df['Cachorros'] = df['Cachorros'].astype('int64')
df['machos/hembaras_no_repro'] = df['machos/hembaras_no_repro'].astype('int64')

In [20]:
df

,Subpoblación,Región,Hembras reproductoras,Cachorros,Total ejemplares,machos/hembaras_no_repro
1,Doñana-Aljarafe,Andalucí­a,25,27,108,56
2,Andújar-Cardeña,Andalucí­a,53,78,268,137
3,Guadalmellato,Andalucí­a,14,6,40,20
4,Guarrizas,Andalucí­a,29,61,167,77
5,Sierra Arana,Andalucí­a,0,1,5,4
6,Setefilla,Andalucí­a,1,4,9,4
7,Las Minas,Andalucí­a,3,10,17,4
8,Guazurejos,Andalucí­a,0,0,1,1
9,Pegalajar,Andalucí­a,1,2,6,3
10,Alcaudete,Andalucí­a,0,0,2,2
11,Matachel,Extremadura,30,50,138,58
12,Ortiga,Extremadura,3,2,23,18
13,Valdecigüeñas,Extremadura,1,0,8,7
14,Río Sotillo,Extremadura/Andalucí­a,0,0,3,3
15,Ibores,Extremadura,1,4,9,4
16,Cornalvo,Extremadura,0,0,3,3
17,Campo de Montiel,Castilla-La Mancha,37,65,203,101
18,Montes de Toledo,Castilla-La Mancha,53,107,272,112
19,Guadalmez,Castilla-La Mancha/Andalucí­a,23,51,104,30
20,Valdecañas,Extremadura,2,5,14,7
21,Monfragüe,Extremadura,0,0,1,1
22,Albacete,Castilla-La Mancha,1,4,6,1

In [21]:
column_order = ['Subpoblación', 'Región', 'Hembras reproductoras','Cachorros','machos/hembaras_no_repro','Total ejemplares']
df = df[column_order]

In [22]:
df

,Subpoblación,Región,Hembras reproductoras,Cachorros,machos/hembaras_no_repro,Total ejemplares
1,Doñana-Aljarafe,Andalucí­a,25,27,56,108
2,Andújar-Cardeña,Andalucí­a,53,78,137,268
3,Guadalmellato,Andalucí­a,14,6,20,40
4,Guarrizas,Andalucí­a,29,61,77,167
5,Sierra Arana,Andalucí­a,0,1,4,5
6,Setefilla,Andalucí­a,1,4,4,9
7,Las Minas,Andalucí­a,3,10,4,17
8,Guazurejos,Andalucí­a,0,0,1,1
9,Pegalajar,Andalucí­a,1,2,3,6
10,Alcaudete,Andalucí­a,0,0,2,2
11,Matachel,Extremadura,30,50,58,138
12,Ortiga,Extremadura,3,2,18,23
13,Valdecigüeñas,Extremadura,1,0,7,8
14,Río Sotillo,Extremadura/Andalucí­a,0,0,3,3
15,Ibores,Extremadura,1,4,4,9
16,Cornalvo,Extremadura,0,0,3,3
17,Campo de Montiel,Castilla-La Mancha,37,65,101,203
18,Montes de Toledo,Castilla-La Mancha,53,107,112,272
19,Guadalmez,Castilla-La Mancha/Andalucí­a,23,51,30,104
20,Valdecañas,Extremadura,2,5,7,14
21,Monfragüe,Extremadura,0,0,1,1
22,Albacete,Castilla-La Mancha,1,4,1,6

In [23]:
df.reset_index(drop=True, inplace=True)

In [24]:
df['Especie'] = 'Lince iberico'

C:\Users\pepot\AppData\Local\Temp\ipykernel_2192\2902525530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Especie'] = 'Lince iberico'

In [25]:
df

,Subpoblación,Región,Hembras reproductoras,Cachorros,machos/hembaras_no_repro,Total ejemplares,Especie
0,Doñana-Aljarafe,Andalucí­a,25,27,56,108,Lince iberico
1,Andújar-Cardeña,Andalucí­a,53,78,137,268,Lince iberico
2,Guadalmellato,Andalucí­a,14,6,20,40,Lince iberico
3,Guarrizas,Andalucí­a,29,61,77,167,Lince iberico
4,Sierra Arana,Andalucí­a,0,1,4,5,Lince iberico
5,Setefilla,Andalucí­a,1,4,4,9,Lince iberico
6,Las Minas,Andalucí­a,3,10,4,17,Lince iberico
7,Guazurejos,Andalucí­a,0,0,1,1,Lince iberico
8,Pegalajar,Andalucí­a,1,2,3,6,Lince iberico
9,Alcaudete,Andalucí­a,0,0,2,2,Lince iberico
10,Matachel,Extremadura,30,50,58,138,Lince iberico
11,Ortiga,Extremadura,3,2,18,23,Lince iberico
12,Valdecigüeñas,Extremadura,1,0,7,8,Lince iberico
13,Río Sotillo,Extremadura/Andalucí­a,0,0,3,3,Lince iberico
14,Ibores,Extremadura,1,4,4,9,Lince iberico
15,Cornalvo,Extremadura,0,0,3,3,Lince iberico
16,Campo de Montiel,Castilla-La Mancha,37,65,101,203,Lince iberico
17,Montes de Toledo,Castilla-La Mancha,53,107,112,272,Lince iberico
18,Guadalmez,Castilla-La Mancha/Andalucí­a,23,51,30,104,Lince iberico
19,Valdecañas,Extremadura,2,5,7,14,Lince iberico
20,Monfragüe,Extremadura,0,0,1,1,Lince iberico
21,Albacete,Castilla-La Mancha,1,4,1,6,Lince iberico

In [26]:
column_order = ['Región','Subpoblación', 'Especie', 'Hembras reproductoras','Cachorros','machos/hembaras_no_repro','Total ejemplares']
df = df[column_order]

In [27]:
df

,Región,Subpoblación,Especie,Hembras reproductoras,Cachorros,machos/hembaras_no_repro,Total ejemplares
0,Andalucí­a,Doñana-Aljarafe,Lince iberico,25,27,56,108
1,Andalucí­a,Andújar-Cardeña,Lince iberico,53,78,137,268
2,Andalucí­a,Guadalmellato,Lince iberico,14,6,20,40
3,Andalucí­a,Guarrizas,Lince iberico,29,61,77,167
4,Andalucí­a,Sierra Arana,Lince iberico,0,1,4,5
5,Andalucí­a,Setefilla,Lince iberico,1,4,4,9
6,Andalucí­a,Las Minas,Lince iberico,3,10,4,17
7,Andalucí­a,Guazurejos,Lince iberico,0,0,1,1
8,Andalucí­a,Pegalajar,Lince iberico,1,2,3,6
9,Andalucí­a,Alcaudete,Lince iberico,0,0,2,2
10,Extremadura,Matachel,Lince iberico,30,50,58,138
11,Extremadura,Ortiga,Lince iberico,3,2,18,23
12,Extremadura,Valdecigüeñas,Lince iberico,1,0,7,8
13,Extremadura/Andalucí­a,Río Sotillo,Lince iberico,0,0,3,3
14,Extremadura,Ibores,Lince iberico,1,4,4,9
15,Extremadura,Cornalvo,Lince iberico,0,0,3,3
16,Castilla-La Mancha,Campo de Montiel,Lince iberico,37,65,101,203
17,Castilla-La Mancha,Montes de Toledo,Lince iberico,53,107,112,272
18,Castilla-La Mancha/Andalucí­a,Guadalmez,Lince iberico,23,51,30,104
19,Extremadura,Valdecañas,Lince iberico,2,5,7,14
20,Extremadura,Monfragüe,Lince iberico,0,0,1,1
21,Castilla-La Mancha,Albacete,Lince iberico,1,4,1,6

In [38]:
df.columns = ['Region_lin','Subpoblacion','Especie_lin', 'Hembras_reproductoras','Cachorros','machos/hembaras_no_repro','Total_ejemplares']

In [39]:
df

,Region_lin,Subpoblacion,Especie_lin,Hembras_reproductoras,Cachorros,machos/hembaras_no_repro,Total_ejemplares
0,Andalucí­a,Doñana-Aljarafe,Lince iberico,25,27,56,108
1,Andalucí­a,Andújar-Cardeña,Lince iberico,53,78,137,268
2,Andalucí­a,Guadalmellato,Lince iberico,14,6,20,40
3,Andalucí­a,Guarrizas,Lince iberico,29,61,77,167
4,Andalucí­a,Sierra Arana,Lince iberico,0,1,4,5
5,Andalucí­a,Setefilla,Lince iberico,1,4,4,9
6,Andalucí­a,Las Minas,Lince iberico,3,10,4,17
7,Andalucí­a,Guazurejos,Lince iberico,0,0,1,1
8,Andalucí­a,Pegalajar,Lince iberico,1,2,3,6
9,Andalucí­a,Alcaudete,Lince iberico,0,0,2,2
10,Extremadura,Matachel,Lince iberico,30,50,58,138
11,Extremadura,Ortiga,Lince iberico,3,2,18,23
12,Extremadura,Valdecigüeñas,Lince iberico,1,0,7,8
13,Extremadura/Andalucí­a,Río Sotillo,Lince iberico,0,0,3,3
14,Extremadura,Ibores,Lince iberico,1,4,4,9
15,Extremadura,Cornalvo,Lince iberico,0,0,3,3
16,Castilla-La Mancha,Campo de Montiel,Lince iberico,37,65,101,203
17,Castilla-La Mancha,Montes de Toledo,Lince iberico,53,107,112,272
18,Castilla-La Mancha/Andalucí­a,Guadalmez,Lince iberico,23,51,30,104
19,Extremadura,Valdecañas,Lince iberico,2,5,7,14
20,Extremadura,Monfragüe,Lince iberico,0,0,1,1
21,Castilla-La Mancha,Albacete,Lince iberico,1,4,1,6

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Region                    22 non-null     object
 1   Especie                   22 non-null     object
 2   Subpoblacion              22 non-null     object
 3   Hembras_reproductoras     22 non-null     int64
 4   Cachorros                 22 non-null     int64
 5   machos/hembaras_no_repro  22 non-null     int64
 6   Total_ejemplares          22 non-null     int64
dtypes: int64(4), object(3)
memory usage: 1.3+ KB

In [40]:
from unidecode import unidecode

In [42]:
df = df.applymap(lambda x: unidecode(x) if isinstance(x, str) else x)

In [43]:
#df.to_csv('linces_en_España.csv', index=False)